name: Deploy

on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"

jobs:
  push-to-ghcr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./build
          file: Dockerfile
          push: true
          tags: ghcr.io/dappnode/DAppNode-announcements-bot:latest
      # Tell the watchtower instance with the cert-api to pull its image
      - name: Trigger cert-api webhook
        run: |
          curl -H "Authorization: Bearer ${{ secrets.DDNS_SERVER_PUSH_TOKEN }}" ${{ secrets.DDNS_SERVER_PUSH_URL }}
